<ion-app>
  <ion-menu side="start" menuId="main" contentId="main">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-menu-toggle [routerLink]="['/home']">
          <ion-item>
            <ion-icon slot="start" name="home"></ion-icon>
            <ion-label>Promoções</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle [routerLink]="['/perfil']">
          <ion-item>
            <ion-icon slot="start" name="person-circle"></ion-icon>
            <ion-label>Perfil</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle [routerLink]="['/restaurantes']">
          <ion-item>
            <ion-icon slot="start" name="fast-food"></ion-icon>
            <ion-label>Restaurantes</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle [routerLink]="['/favoritos']">
          <ion-item>
            <ion-icon slot="start" name="heart"></ion-icon>
            <ion-label>Comidas favoritas</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-item (click)="logout()">
          <ion-icon slot="start" name="log-out"></ion-icon>
          <ion-label>Logout</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
